span {
    text-align: center;
    letter-spacing: -5px;
    font-size: 8rem;
}

nester {
    margin: 36%;
    white-space: nowrap;
}

questions {
    display: block;
    margin-left: auto;
    margin-right: auto;
}