span {
    text-align: center;
    letter-spacing: -5px;
    font-size: 8rem;
}

nester {
    margin: 36%;
    white-space: nowrap;
}

questions {
    display: flex;
    justify-content: center;
}
input[type="text"] {
    width: 500px;
}
input[type="submit"] {
    margin: 5%;
    margin-left: 75px;
}
