span {
    text-align: center;
    letter-spacing: -5px;
    font-size: 8rem;
}
/*used cs50 ai bot to help with centering logo and search bar and buttons*/
nester {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

questions {
    display: flex;
    justify-content: center;
}
input[type="text"] {
    width: 500px;
}
input[type="submit"] {
    margin: 5%;
    margin-left: 75px;
}
div{
    top: 0;
    right: 0;
    text-align: right;
}
imagesalign {
    display: flex;
    justify-content: center;
}
questions2 {
    display: flex;
    justify-content: center;
    margin: 5%;
    margin-left: 15%;
    margin-top: -60px;
}